MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.nombk2e.mongodb.net/iep_continental_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_32_plus_character_secret_for_production
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=continental-files
R2_PUBLIC_URL=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
MAIL_USERNAME=
MAIL_PASSWORD=
